In [2]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
city = pd.read_csv('city.csv')

Столбцы и количество строк в таблице city

In [124]:
city.columns

Index(['address', 'postal_code', 'country', 'federal_district', 'region_type',
       'region', 'area_type', 'area', 'city_type', 'city', 'settlement_type',
       'settlement', 'kladr_id', 'fias_id', 'fias_level', 'capital_marker',
       'okato', 'oktmo', 'tax_office', 'timezone', 'geo_lat', 'geo_lon',
       'population', 'foundation_year'],
      dtype='object')

In [123]:
len(city)

1117

Узнали самое длинное название города в таблице

In [128]:
q=[]
for i in city["city"]:
    i = str(i)
    q.append(i)
print(f'Самое длинное название города в таблице имеет {len(max(list, key=len))} символов')

Самое длинное название города в таблице имеет 25 символов

Количество городов для каждого часового пояса в Сибирском и Приволжском федеральных округах
Ответ: 58

In [130]:
time = city[city['federal_district'].isin(['Приволжский', 'Сибирский'])]
time[['timezone','address']].groupby('timezone').count().rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    101
UTC+4                     41
UTC+5                     58
UTC+6                      6
UTC+7                     86
UTC+8                     22

Количество городов в каждом часовом поясе, отсортированное по убыванию.

In [148]:
q = city[['timezone','address']].groupby('timezone').count().sort_values('address', ascending=False)
q.rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    660
UTC+5                    173
UTC+7                     86
UTC+4                     66
UTC+9                     31
UTC+8                     28
UTC+10                    22
UTC+2                     22
UTC+11                    17
UTC+12                     6
UTC+6                      6

Индивидуальное задание

In [9]:
city.count()

address             1117
postal_code         1116
country             1117
federal_district    1117
region_type         1117
region              1117
area_type            612
area                 612
city_type           1113
city                1113
settlement_type        2
settlement             2
kladr_id            1117
fias_id             1117
fias_level          1117
capital_marker      1117
okato               1117
oktmo               1117
tax_office          1117
timezone            1117
geo_lat             1117
geo_lon             1117
population          1117
foundation_year     1117
dtype: int64

In [11]:
city.loc[:,'federal_district':'region_type']

     federal_district region_type
0               Южный        Респ
1               Южный        Респ
2           Сибирский        Респ
3           Сибирский        край
4           Сибирский        край
...               ...         ...
1112      Центральный         обл
1113      Центральный         обл
1114      Центральный         обл
1115      Центральный         обл
1116      Центральный         обл

[1117 rows x 2 columns]

In [4]:
city.groupby('federal_district').mean()

,postal_code,kladr_id,fias_level,capital_marker,okato,oktmo,tax_office,geo_lat,geo_lon
federal_district,,,,,,,,,
Дальневосточный,682872.512195,3.987239e+12,4.000000,0.768293,5.203342e+10,2.468439e+10,4002.182927,52.287897,131.864522
Приволжский,498052.210000,4.081116e+12,4.000000,0.695000,6.111288e+10,3.074717e+10,4114.250000,55.231634,50.124872
Северо-Западный,187386.554054,3.985862e+12,3.979730,0.682432,4.399240e+10,3.445016e+10,3966.054054,60.518205,33.525417
Северо-Кавказский,364365.736842,1.510812e+12,4.034483,0.758621,5.597477e+10,3.031803e+10,1534.189655,43.760014,44.339335
Сибирский,654768.991228,3.669082e+12,4.000000,0.464912,3.320362e+10,3.230398e+10,3697.605263,55.099140,89.292072
Уральский,582746.973913,7.109265e+12,4.000000,0.365217,6.727546e+10,3.378558e+10,7144.817391,57.847247,63.405427
Центральный,258237.763158,5.025212e+12,3.996711,0.730263,4.038296e+10,3.192162e+10,5048.187500,54.897382,37.862216
Южный,356505.958333,4.585327e+12,3.989583,0.604167,3.065706e+10,2.707983e+10,4630.489583,46.715722,40.344276